{% set obj_cart = cart.get() %}
checkout_body_container_pre-div
checkout_body_container_pre-thumbnail-{{obj_cart.items[0].thumbnail}}

{# this does not exists on checkout but it does on cart total #}
{% set obj_order = order.get() %}