{% set arr_product = product.getList()[0] %}

{##}
{% if solid.currency == "EUR" %}
  {% set str_expect = "9,99" %}
{% elseif solid.currency == "USD" %}
  {% set str_expect = "9.99" %}
{% endif %}
{% if str_expect != arr_product.price|currency %}
  failed 1A
{% endif %}
{% if arr_product.price|currency|length != 4 %}
  failed 1B
{% endif %}


{##}
{% if solid.currency == "EUR" %}
  {% set str_expect = "€ 9,99" %}
{% elseif solid.currency == "USD" %}
  {% set str_expect = "$ 9.99" %}
{% endif %}
{% if str_expect != arr_product.price|currency("symbol") %}
  failed 2 A
{% endif %}
{% if arr_product.price|currency("symbol")|length != 6 %}
  failed 3B
{% endif %}




{##}
{% if solid.currency == "EUR" %}
  {% set str_expect = "9,-" %}
{% elseif solid.currency == "USD" %}
  {% set str_expect = "9.-" %}
{% endif %}
{% if str_expect != "9"|currency("decimaldash") %}
 failed 3A
{% endif %}
{% if "9"|currency("decimaldash")|length != 3 %}
  failed 3B
{% endif %}
EOF