{% set str_test = "    This is a string     with a lot of excess whitespace "%}
{% set str_expect = "This is a string with a lot of excess whitespace" %}
{% if str_test|strip_whitespace != str_expect %}
failed
{% endif %}
EOF