{# should not test based on currency but on weight but this value is not available in the template language#}




{% set arr_product = product.getList()[0] %}

{##}
{% if solid.currency == "EUR" %}
  {% set str_expect = "9,99" %}
{% elseif solid.currency == "USD" %}
  {% set str_expect = "9.99" %}
{% endif %}
{% if str_expect != "9.99"|weight %}
  failed 1A
{% endif %}
{% if "9.99"|weight|length != 4 %}
  failed 1B
{% endif %}


{##}
{% if solid.currency == "EUR" %}
  {% set str_expect = "9,99 kg" %}
{% elseif solid.currency == "USD" %}
  {% set str_expect = "9.99 lb" %}
{% endif %}
{% if str_expect != "9.99"|weight("unit") %}
  failed 2A
{% endif %}
{% if "9.99"|weight("unit")|length != 7 %}
  failed 2B
{% endif %}
EOF