{% set fruits = ['a', 'b', 'c'] %}
{% set str_output = "" %}
{% set str_expect = "abcabca" %}
{% for i in 0..6 %}
  {% set str_output = str_output ~ cycle(fruits, i)%}
{% endfor %}

{% if str_output != str_expect %}
failed
{% endif %}

EOF