{% if random(['apple', 'orange', 'citrus']) == "" %}
failed 1
{% endif %}




{% if random() == "" %}
failed 3
{% endif %}

{#
{% if random('ABC') == "" %}
failed 2
{% endif %}
{% if random(5) == "" %}
failed 4
{% endif %}
#}

EOF