{# unknown language should default to default language #}
{{ solid.setLang("doesnotexists") }}
{% if solid.getLang() != "english" %}
	solid.getLang() doesnotexists
{% endif %}
{% if solid.getLang("short") != "en" %}
	solid.getLang("short") doesnotexists
{% endif %}
{% if solid.lang("test.string") != "english" %}
	solid.lang doesnotexists
{% endif %}


{# default language #}
{% if solid.getLang() != "english" %}
	solid.getLang() default
{% endif %}
{% if solid.getLang("short") != "en" %}
	solid.getLang("short") default
{% endif %}
{% if solid.lang("test.string") != "english" %}
	solid.lang default
{% endif %}


{# dutch long #}
{{ solid.setLang("dutch") }}
{% if solid.getLang() != "dutch" %}
	solid.getLang() dutch long
{% endif %}
{% if solid.getLang("short") != "nl" %}
	solid.getLang("short") dutch long
{% endif %}
{% if solid.lang("test.string") != "dutch" %}
	solid.lang dutch long
{% endif %}


{# fr short #}
{{ solid.setLang("fr") }}
{% if solid.getLang() != "french" %}
	solid.getLang() fr short
{% endif %}
{% if solid.getLang("short") != "fr" %}
	solid.getLang("short") fr short
{% endif %}
{% if solid.lang("test.string") != "french" %}
	solid.lang fr short
{% endif %}


{# unknown language should default to previous #}
{{ solid.setLang("nl") }}
{{ solid.setLang("doesnotexists") }}
{% if solid.getLang() != "dutch" %}
	solid.getLang() previous
{% endif %}
{% if solid.getLang("short") != "nl" %}
	solid.getLang("short") previous
{% endif %}
{% if solid.lang("test.string") != "dutch" %}
	solid.lang previous
{% endif %}


{# set lang from embed with shortcode #}
{{ solid.embed("object-solid-setlang") }}
{% if solid.getLang() != "french" %}
	solid.getLang() embed with shortcode
{% endif %}
{% if solid.getLang("short") != "fr" %}
	solid.getLang("short") embed with shortcode
{% endif %}
{% if solid.lang("test.string") != "french" %}
	solid.lang embed with shortcode
{% endif %}

{# existing language without language file #}
{{ solid.setLang("indonesian") }}
{% if solid.getLang() != "indonesian" %}
	solid.getLang() language without language file
{% endif %}
{% if solid.getLang("short") != "id" %}
	solid.getLang("short") language without language file
{% endif %}
{% if solid.lang("test.string") != "" %}
	solid.lang language without language file
{% endif %}


EOF