{% set captcha = solid.getCaptcha() %}


{% if solid.getLastUrlSegment() == "true" %}
	{{captcha.image}}

{% else %}

	{% if captcha.id == ""  %}
		captcha.id
	{% endif %}
	
	{% if captcha.word == ""  %}
		captcha.word
	{% endif %}
	
	{% if "http" not in captcha.image %}
		captcha.image
	{% endif %}

	EOF
	
{% endif %}

