{% if solid.getUrlSegment(1) != "testpartial"%}
 failed 1
{% endif %}

{% if solid.getUrlSegment(2) != "object-solid-geturlsegment"%}
 failed 2
{% endif %}

{% if solid.getUrlSegment(3) != ""%}
 failed 3
{% endif %}

{% if solid.getUrlSegment(0) != "/testpartial/object-solid-geturlsegment" %}
 failed O
{% endif %}

{% if solid.getUrlSegment() != "/testpartial/object-solid-geturlsegment" %}
 failed ""
{% endif %}

EOF