{% set str_nicename = "your-first-page" %}

{% set arr_record = page.get(str_nicename) %}
{% if arr_record.nicename != str_nicename  %}
	page.get
{% endif %}

{% set arr_record = page.getList({nicename: str_nicename })[0] %}
{% if arr_record.nicename != str_nicename   %}
	page.getList
{% endif %}

EOF