{% set arrParams = solid.getParams () %}


{% if "post" == solid.getLastUrlSegment() %}
	{% if arrParams.post.testkey != "testvalue"  %}
		arrParams.post.testkey
	{% endif %}
{% else %}
	{% if arrParams.post|length > 0 %}
     	lenght should be 0 with no post
	{% endif %}
{% endif %}
EOF