{% set str_combobox = solid.htmlShippingCountries() %}

{% set str_check = '<select name="cbocountry" id="cbocountry"' %}
{% if str_check not in str_combobox%}
  {{str_check}}
{% endif %}

{% set str_check = '<option value="">-</option>' %}
{% if str_check not in str_combobox%}
  {{str_check}}
{% endif %}

{% set str_check = '<option value="BE">Belgium</option>' %}
{% if str_check not in str_combobox%}
  {{str_check}}
{% endif %}

{% if solid.getLastUrlSegment() == "nl" %}
  {% set str_check = 'value="NL" selected' %}
  {% if str_check not in str_combobox%}
    {{str_check}}
  {% endif %}
{% endif %}

{% set str_check = '</select>' %}
{% if str_check not in str_combobox%}
  {{str_check}}
{% endif %}

EOF