{% set arrParams = solid.getParams () %}


{% if "?" in solid.getLastUrlSegment() %}
	{% if arrParams.querystring.testkey != "testvalue"  %}
		arrParams.querystring.testkey
	{% endif %}
{% else %}
	{% if arrParams.querystring|length > 0 %}
     	lenght should be 0 with no params
	{% endif %}
{% endif %}
EOF