{% set str_nicename = "your-first-product" %}

{% set arr_record = product.get(str_nicename) %}
{% if arr_record.nicename != str_nicename  %}
	product.get
{% endif %}

{% set arr_record = product.getList({nicename: str_nicename })[0] %}
{% if arr_record.nicename != str_nicename   %}
	product.getList
{% endif %}

EOF