{% if solid.shop_name != "unit test store" %}
  fail shop_name
{% endif %}


{% if not solid.shop_url  starts with "http" %}
  fail shop_url
{% endif %}
{% if not solid.assets_url starts with "http" %}
  fail assets_url
{% endif %}
{% if not solid.files_url starts with "http" %}
  fail files_url
{% endif %}

{% if not solid.products_count > 0 %}
  fail products_count
{% endif %}



{# when currency is USD
  {% if solid.currency != "USD" %}
    fail currency
  {% endif %}
  {% if solid.currency_symbol != "$" %}
    fail currency_symbol
  {% endif %}
  {% if solid.currency_thousand != "," %}
    fail currency_thousand
  {% endif %}
  {% if solid.currency_decimal != "." %}
    fail currency_decimal
  {% endif %}
#}


{% if solid.currency != "EUR" %}
   fail currency
{% endif %}
{% if solid.currency_symbol != "€" %}
   fail currency_symbol
{% endif %}
{% if solid.currency_thousand != "." %}
  fail currency_thousand
{% endif %}
{% if solid.currency_decimal != "," %}
 fail currency_decimal
{% endif %}
  
  
  
EOF
