{% set str_nicename = "general" %}

{% set arr_record = category.get(str_nicename) %}
{% if arr_record.nicename != str_nicename  %}
	category.get
{% endif %}

{% set arr_record = category.getList({nicename: str_nicename })[0] %}
{% if arr_record.nicename != str_nicename   %}
	category.getList
{% endif %}

EOF