{% set arr_products = product.getList({pagination:true}) %}

{% set pagination = solid.getPagination() %}



{% if (pagination.pages[0].number =="") or (pagination.pages[0].url == "") %}
	pagination.pages[0].number pagination.pages[0].url
{% endif %}
 


{% if  (pagination.first == "") or (pagination.first_url == "") %}
	pagination.first pagination.first_url
{% endif %}
{% if  (pagination.last =="") or (pagination.last_url == "") %}
	pagination.last pagination.last_url
{% endif %}


{# *********************************************************** #}
{% if  (pagination.current =="") or (pagination.current_url == "") %}
	pagination.current pagination.current_url
{% endif %}


{# TODO: implement test where multiple pages are used #}
{% if (pagination.previous != "") or (pagination.previous_url == "") %}
	pagination.previous pagination.previous_url
{% endif %}
{% if (pagination.next == "") or (pagination.next_url == "") %}
	pagination.next pagination.next_url
{% endif %}
{# *********************************************************** #}

EOF
