{% set arr_products_all = product.getList({count:100}) %}

{% set arr_split = solid.getUrlSegment(2)|split('=') %}
{% set p_uri = arr_split[1] %}
{% if p_uri == "" or p_uri == 0 %}
	{% set p_uri = 1 %}
{% endif %}


{% set arr_products = product.getList({pagination:true}) %}
{% set pagination = solid.getPagination() %}
{% if p_uri != pagination.current %}
	pagination.current not same as uri
{% endif %}
{% set page_paged = pagination.current %}
{% set productid_paged = arr_products_all[p_uri].id %}


{% set id_query = 2 %}
{% set arr_products = product.getList({pagination:true,"page":id_query}) %}
{% set pagination = solid.getPagination() %}
{% if id_query != pagination.current %}
	pagination.current not same in query
{% endif %}
{% set page_query = pagination.current %}
{% set productid_query = arr_products_all[p_uri].id %}



{% if page_paged == page_query and page_query !=2 %}
	page_query same as page_paged
{% endif %}

{% if productid_paged == productid_query and page_query !=2 %}
	products returned equals
{% endif %}
{% if productid_paged != productid_query and page_query ==2 %}
	different products although the same page
{% endif %}

EOF
