{# same in partial:object-data-cart and tempalte:cart #}

{% set arr_cart = cart.get() %}

{% if arr_cart is null  %}
	cart is null
{% endif %}

{% if not '00' in arr_cart.total   %}
	cart total does not contain 00
{% endif %}

{% if arr_cart.items_price_total != "0.00"   %}
	cart total does not contain 00
{% endif %}

{% if arr_cart.items_quantity != "0"   %}
	cart has items
{% endif %}
EOF