{#

{% set str_id = 1 %}

{% set arr_record = category.get(str_id) %}
{% if arr_record.id != str_id  %}
	category.get
{% endif %}

{% set arr_record = category.getList({id: str_id }[0]) %}
{% if arr_record.id != str_id   %}
	category.getList
{% endif %}
#}
EOF