
{% set obj_data = { id : 1,nicename:"a" }%}

{% set str_expect = "a"%}
{% set str_actual = attribute(obj_data,"nicename")%}

{% if str_expect != str_actual %}
  failed attribute check
{% endif %}



EOF