{% set arr_data = [{ id : 1,nicename:"a" },{ id : 2,nicename:"b" },{ id : 3,nicename:"c" }]%}


{% set str_expect = "a"%}
{% set str_actual = ""%}
{% for d in arr_data if d.nicename == "a" %}
  {% set str_actual = str_actual ~ d.nicename %}
{% endfor %}
{% if str_expect != str_actual %}
  failed equals
{% endif %}

{% set str_expect = "ab"%}
{% set str_actual = "" %}
{% for d in arr_data if d.nicename in ["a","b"] %}
  {% set str_actual = str_actual ~ d.nicename %}
{% endfor %}
{% if str_expect != str_actual %}
  failed in array
{% endif %}



{% set str_expect = "c"%}
{% set str_actual = ""%}
{%for d in arr_data if d.nicename not in ["a","b"] %}
  {% set str_actual = str_actual ~ d.nicename %}
{% endfor %}
{% if str_expect != str_actual %}
  failed not in
{% endif %}


EOF