{# same in partial:object-data-cart and tempalte:cart #}

{% set arr_cart = cart.get() %}
{% if not '00' in arr_cart.total   %}
	cart total does not contain 00
{% endif %}

{% if arr_cart.items_price_total == "0"   %}
	cart has items
{% endif %}
EOF