{% if solid.getUrlSegment(2) == "cart"%}
	{% set arr_cart = cart.get() %}
	{{ arr_cart|json }}
{% elseif solid.getUrlSegment(2) == "orderguid"%}
	{% set arr_order = order.getList({guid:solid.getUrlSegment(3) }) %}
	{{ arr_order[0]|json }}
{% elseif solid.getUrlSegment(2) == "orderlatest"%}
	{% set arr_order = order.getList({"order":"id:desc","count":1}) %}
	{{ arr_order[0]|json }}
{% elseif solid.getUrlSegment(2) == "productid"%}
	{% set arr_product = product.getList({id:solid.getUrlSegment(3) }) %}
	{{ arr_product[0]|json }}
{% elseif solid.getUrlSegment(2) == "productnicename"%}
	{% set arr_product = product.getList({nicename:solid.getUrlSegment(3) }) %}
	{{ arr_product[0]|json }}
{% endif %}

